.activities__card {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (width <= 693px) {
        align-items: center;
    }

    &-wrapper {
        overflow: hidden;
        border-radius: 24px;
    }

    &:hover {
        .activities__card-image {
            scale: 1.2;
        }
    }

    .activities__card-image {
        transition: 0.3s;
    }

    &-text {
        font-weight: 500;
        line-height: 150%;
        color: var(--theme-body);

        @media (width <= 693px) {
            font-size: 25px;
        }
    }
}