.about {
    padding: 120px 0;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;
        flex-wrap: wrap;
    }

    &__content {
        display: flex;
        flex-direction: column;
        max-width: 548px;
        width: 100%;
        gap: 32px;

        @media (width <= 1157px) {
            align-items: center;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 32px;
        line-height: 150%;
        color: var(--theme-body);
    }

    &__text {
        line-height: 200%;
        color: #5b5b5b;

        @media (width <= 1157px) {
            text-align: center;
        }
    }

    &__link {
        width: 133px;
    }

    &__image {
        @media (width <= 636px) {
            width: 480px;
        }
        @media (width <= 550px) {
            width: 440px;
        }
        @media (width <= 480px) {
            width: 400px;
        }
        @media (width <= 424px) {
            width: 360px;
        }
        @media (width <= 390px) {
            width: 310px;
        }
    }
}