.hotels {
    padding: 120px 0;

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 64px;

        @media (width <= 576px) {
            flex-direction: column;
            gap: 25px;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 33px;
        line-height: 150%;
        color: var(--theme-body);

        @media (width <= 576px) {
            text-align: center;
        }
    }

    &__cards {
        display: flex;
        gap: 32px;
        flex-wrap: wrap;
        justify-content: center;
    }
}

